<h1>ALL CARDS</h1>

<%for card in @cards do%>
  <p><%= link_to card.title, card_path(card) %>
  <%= link_to "edit", edit_card_path(card)%>
  <%= link_to "delete", card, :method=>"delete"%></p> 
<%end%>


<%= link_to "add card manually", new_card_path%>
<%= link_to "accueil", root_path %>
